<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Welcome to Quoting Dojo</h2>
    <form class="form" action="/users" method="post">
          Your name: <input id="name" type='text' name="name"><br/>
          Your quote:<input id="quote" type='text' name="quote" ><br/>
          <button class="btn">Add my quote!</button>
          <a href='/render_quote'>Skip to quotes</a>
    </form>

  </body>
</html>
